<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\SalesRule\Model\Rule\Condition\Product\Combine">
        <plugin name="Tan\SpcSalesRule\Plugin\SalesRule\Model\Rule\Condition\Product\CombinePlugin"
                type="Tan\SpcSalesRule\Plugin\SalesRule\Model\Rule\Condition\Product\CombinePlugin"/>
    </type>
</config>
